Release/Baseline2_22042013/GestoreNotizia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax23="http://entity.editoriale.reply.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://gestoreNuovoAccountService.reply.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gestoreNuovoAccountService.reply.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.editoriale.reply.com/xsd">
            <xs:complexType name="Notizia">
                <xs:sequence>
                    <xs:element minOccurs="0" name="autore" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lunghezzaTesto" type="xs:int"/>
                    <xs:element minOccurs="0" name="sottotitolo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="testo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ultimoDigitatore" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://entity.editoriale.reply.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gestoreNuovoAccountService.reply.com">
            <xs:import namespace="http://entity.editoriale.reply.com/xsd"/>
            <xs:element name="visualizzaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visualizzaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visualizzaListaNotizie">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="visualizzaListaNotizieResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registraNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sottotitolo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lunghTesto" type="xs:int"/>
                        <xs:element minOccurs="0" name="testo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registraNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modificaNotiziaEsistente">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                        <xs:element minOccurs="0" name="userUltimoDigitatore" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modificaNotiziaEsistenteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sottotitolo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="autore" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ultimoDigitatore" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lunghTesto" type="xs:int"/>
                        <xs:element minOccurs="0" name="testo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annulla">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annullaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="registraNotiziaRequest">
        <wsdl:part element="ns:registraNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registraNotiziaResponse">
        <wsdl:part element="ns:registraNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaNotiziaEsistenteRequest">
        <wsdl:part element="ns:modificaNotiziaEsistente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaNotiziaEsistenteResponse">
        <wsdl:part element="ns:modificaNotiziaEsistenteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaNotiziaRequest">
        <wsdl:part element="ns:cancellaNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaNotiziaResponse">
        <wsdl:part element="ns:cancellaNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="annullaRequest">
        <wsdl:part element="ns:annulla" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="annullaResponse">
        <wsdl:part element="ns:annullaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="visualizzaListaNotizieRequest">
        <wsdl:part element="ns:visualizzaListaNotizie" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="visualizzaListaNotizieResponse">
        <wsdl:part element="ns:visualizzaListaNotizieResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="visualizzaNotiziaRequest">
        <wsdl:part element="ns:visualizzaNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="visualizzaNotiziaResponse">
        <wsdl:part element="ns:visualizzaNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="inserisciNotiziaRequest">
        <wsdl:part element="ns:inserisciNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="inserisciNotiziaResponse">
        <wsdl:part element="ns:inserisciNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="GestoreNotiziaPortType">
        <wsdl:operation name="registraNotizia">
            <wsdl:input message="ns:registraNotiziaRequest" wsaw:Action="urn:registraNotizia"/>
            <wsdl:output message="ns:registraNotiziaResponse" wsaw:Action="urn:registraNotiziaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="modificaNotiziaEsistente">
            <wsdl:input message="ns:modificaNotiziaEsistenteRequest" wsaw:Action="urn:modificaNotiziaEsistente"/>
            <wsdl:output message="ns:modificaNotiziaEsistenteResponse" wsaw:Action="urn:modificaNotiziaEsistenteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <wsdl:input message="ns:cancellaNotiziaRequest" wsaw:Action="urn:cancellaNotizia"/>
            <wsdl:output message="ns:cancellaNotiziaResponse" wsaw:Action="urn:cancellaNotiziaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="annulla">
            <wsdl:input message="ns:annullaRequest" wsaw:Action="urn:annulla"/>
            <wsdl:output message="ns:annullaResponse" wsaw:Action="urn:annullaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="visualizzaListaNotizie">
            <wsdl:input message="ns:visualizzaListaNotizieRequest" wsaw:Action="urn:visualizzaListaNotizie"/>
            <wsdl:output message="ns:visualizzaListaNotizieResponse" wsaw:Action="urn:visualizzaListaNotizieResponse"/>
        </wsdl:operation>
        <wsdl:operation name="visualizzaNotizia">
            <wsdl:input message="ns:visualizzaNotiziaRequest" wsaw:Action="urn:visualizzaNotizia"/>
            <wsdl:output message="ns:visualizzaNotiziaResponse" wsaw:Action="urn:visualizzaNotiziaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <wsdl:input message="ns:inserisciNotiziaRequest" wsaw:Action="urn:inserisciNotizia"/>
            <wsdl:output message="ns:inserisciNotiziaResponse" wsaw:Action="urn:inserisciNotiziaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GestoreNotiziaSoap11Binding" type="ns:GestoreNotiziaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registraNotizia">
            <soap:operation soapAction="urn:registraNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaNotiziaEsistente">
            <soap:operation soapAction="urn:modificaNotiziaEsistente" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <soap:operation soapAction="urn:cancellaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="annulla">
            <soap:operation soapAction="urn:annulla" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizzaListaNotizie">
            <soap:operation soapAction="urn:visualizzaListaNotizie" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizzaNotizia">
            <soap:operation soapAction="urn:visualizzaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <soap:operation soapAction="urn:inserisciNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreNotiziaSoap12Binding" type="ns:GestoreNotiziaPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registraNotizia">
            <soap12:operation soapAction="urn:registraNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaNotiziaEsistente">
            <soap12:operation soapAction="urn:modificaNotiziaEsistente" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <soap12:operation soapAction="urn:cancellaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="annulla">
            <soap12:operation soapAction="urn:annulla" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizzaListaNotizie">
            <soap12:operation soapAction="urn:visualizzaListaNotizie" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizzaNotizia">
            <soap12:operation soapAction="urn:visualizzaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <soap12:operation soapAction="urn:inserisciNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreNotiziaHttpBinding" type="ns:GestoreNotiziaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="registraNotizia">
            <http:operation location="registraNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaNotiziaEsistente">
            <http:operation location="modificaNotiziaEsistente"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <http:operation location="cancellaNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="annulla">
            <http:operation location="annulla"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizzaListaNotizie">
            <http:operation location="visualizzaListaNotizie"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizzaNotizia">
            <http:operation location="visualizzaNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <http:operation location="inserisciNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GestoreNotizia">
        <wsdl:port binding="ns:GestoreNotiziaSoap11Binding" name="GestoreNotiziaHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/WebSBL/services/GestoreNotizia.GestoreNotiziaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:GestoreNotiziaSoap12Binding" name="GestoreNotiziaHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/WebSBL/services/GestoreNotizia.GestoreNotiziaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:GestoreNotiziaHttpBinding" name="GestoreNotiziaHttpEndpoint">
            <http:address location="http://localhost:8080/WebSBL/services/GestoreNotizia.GestoreNotiziaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
