Release/Baseline2_22042013/GestoreLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax27="http://rmi.java/xsd" xmlns:ns="http://gestoreLoginService.reply.com" xmlns:ax28="http://io.java/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://entity.editoriale.reply.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gestoreLoginService.reply.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax212="http://entity.editoriale.reply.com/xsd" xmlns:ax210="http://rmi.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gestoreLoginService.reply.com">
            <xs:import namespace="http://rmi.java/xsd"/>
            <xs:import namespace="http://entity.editoriale.reply.com/xsd"/>
            <xs:element name="GestoreLoginRemoteException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RemoteException" nillable="true" type="ax27:RemoteException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax29="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rmi.java/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:complexType name="RemoteException">
                <xs:complexContent>
                    <xs:extension base="ax29:IOException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.editoriale.reply.com/xsd">
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppiLavoro" nillable="true" type="ax211:Gruppo"/>
                    <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="funzioni" nillable="true" type="ax211:Funzionalita"/>
                    <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Funzionalita">
                <xs:sequence>
                    <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sigla" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authenticationRequest">
        <wsdl:part name="parameters" element="ns:authentication"/>
    </wsdl:message>
    <wsdl:message name="authenticationResponse">
        <wsdl:part name="parameters" element="ns:authenticationResponse"/>
    </wsdl:message>
    <wsdl:message name="GestoreLoginRemoteException">
        <wsdl:part name="parameters" element="ns:GestoreLoginRemoteException"/>
    </wsdl:message>
    <wsdl:portType name="GestoreLoginPortType">
        <wsdl:operation name="authentication">
            <wsdl:input message="ns:authenticationRequest" wsaw:Action="urn:authentication"/>
            <wsdl:output message="ns:authenticationResponse" wsaw:Action="urn:authenticationResponse"/>
            <wsdl:fault message="ns:GestoreLoginRemoteException" name="GestoreLoginRemoteException" wsaw:Action="urn:authenticationGestoreLoginRemoteException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GestoreLoginSoap11Binding" type="ns:GestoreLoginPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="authentication">
            <soap:operation soapAction="urn:authentication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreLoginRemoteException">
                <soap:fault use="literal" name="GestoreLoginRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreLoginSoap12Binding" type="ns:GestoreLoginPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="authentication">
            <soap12:operation soapAction="urn:authentication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreLoginRemoteException">
                <soap12:fault use="literal" name="GestoreLoginRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreLoginHttpBinding" type="ns:GestoreLoginPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="authentication">
            <http:operation location="authentication"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GestoreLogin">
        <wsdl:port name="GestoreLoginHttpSoap11Endpoint" binding="ns:GestoreLoginSoap11Binding">
            <soap:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreLogin.GestoreLoginHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GestoreLoginHttpSoap12Endpoint" binding="ns:GestoreLoginSoap12Binding">
            <soap12:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreLogin.GestoreLoginHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GestoreLoginHttpEndpoint" binding="ns:GestoreLoginHttpBinding">
            <http:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreLogin.GestoreLoginHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
