Release/Baseline2_22042013/GestoreAccountServ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://gestoreLoginService.reply.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://entity.editoriale.reply.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://rmi.java/xsd" xmlns:ax22="http://io.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gestoreLoginService.reply.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax26="http://entity.editoriale.reply.com/xsd" xmlns:ax24="http://rmi.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gestoreLoginService.reply.com">
            <xs:import namespace="http://rmi.java/xsd"/>
            <xs:import namespace="http://entity.editoriale.reply.com/xsd"/>
            <xs:element name="GestoreAccountServRemoteException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RemoteException" nillable="true" type="ax24:RemoteException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax25:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ottieniAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ottieniAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax25:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNuovoAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNuovoAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax25:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax25:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VisualizzaAccountRegistrati">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="VisualizzaAccountRegistratiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RimuoviRuoloGiornalista">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AggiungiRuoloGiornalista">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax23="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rmi.java/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:complexType name="RemoteException">
                <xs:complexContent>
                    <xs:extension base="ax23:IOException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.editoriale.reply.com/xsd">
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppiLavoro" nillable="true" type="ax25:Gruppo"/>
                    <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="funzioni" nillable="true" type="ax25:Funzionalita"/>
                    <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Funzionalita">
                <xs:sequence>
                    <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sigla" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RimuoviRuoloGiornalistaRequest">
        <wsdl:part name="parameters" element="ns:RimuoviRuoloGiornalista"/>
    </wsdl:message>
    <wsdl:message name="GestoreAccountServRemoteException">
        <wsdl:part name="parameters" element="ns:GestoreAccountServRemoteException"/>
    </wsdl:message>
    <wsdl:message name="ottieniAccountRequest">
        <wsdl:part name="parameters" element="ns:ottieniAccount"/>
    </wsdl:message>
    <wsdl:message name="ottieniAccountResponse">
        <wsdl:part name="parameters" element="ns:ottieniAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="cancellaAccountRequest">
        <wsdl:part name="parameters" element="ns:cancellaAccount"/>
    </wsdl:message>
    <wsdl:message name="cancellaAccountResponse">
        <wsdl:part name="parameters" element="ns:cancellaAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="inserisciNuovoAccountRequest">
        <wsdl:part name="parameters" element="ns:inserisciNuovoAccount"/>
    </wsdl:message>
    <wsdl:message name="inserisciNuovoAccountResponse">
        <wsdl:part name="parameters" element="ns:inserisciNuovoAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="AggiungiRuoloGiornalistaRequest">
        <wsdl:part name="parameters" element="ns:AggiungiRuoloGiornalista"/>
    </wsdl:message>
    <wsdl:message name="VisualizzaAccountRegistratiRequest">
        <wsdl:part name="parameters" element="ns:VisualizzaAccountRegistrati"/>
    </wsdl:message>
    <wsdl:message name="VisualizzaAccountRegistratiResponse">
        <wsdl:part name="parameters" element="ns:VisualizzaAccountRegistratiResponse"/>
    </wsdl:message>
    <wsdl:message name="updateAccountRequest">
        <wsdl:part name="parameters" element="ns:updateAccount"/>
    </wsdl:message>
    <wsdl:message name="updateAccountResponse">
        <wsdl:part name="parameters" element="ns:updateAccountResponse"/>
    </wsdl:message>
    <wsdl:portType name="GestoreAccountServPortType">
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <wsdl:input message="ns:RimuoviRuoloGiornalistaRequest" wsaw:Action="urn:RimuoviRuoloGiornalista"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:RimuoviRuoloGiornalistaResponse"/>
            <wsdl:fault message="ns:GestoreAccountServRemoteException" name="GestoreAccountServRemoteException" wsaw:Action="urn:RimuoviRuoloGiornalistaGestoreAccountServRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <wsdl:input message="ns:ottieniAccountRequest" wsaw:Action="urn:ottieniAccount"/>
            <wsdl:output message="ns:ottieniAccountResponse" wsaw:Action="urn:ottieniAccountResponse"/>
            <wsdl:fault message="ns:GestoreAccountServRemoteException" name="GestoreAccountServRemoteException" wsaw:Action="urn:ottieniAccountGestoreAccountServRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <wsdl:input message="ns:cancellaAccountRequest" wsaw:Action="urn:cancellaAccount"/>
            <wsdl:output message="ns:cancellaAccountResponse" wsaw:Action="urn:cancellaAccountResponse"/>
            <wsdl:fault message="ns:GestoreAccountServRemoteException" name="GestoreAccountServRemoteException" wsaw:Action="urn:cancellaAccountGestoreAccountServRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <wsdl:input message="ns:inserisciNuovoAccountRequest" wsaw:Action="urn:inserisciNuovoAccount"/>
            <wsdl:output message="ns:inserisciNuovoAccountResponse" wsaw:Action="urn:inserisciNuovoAccountResponse"/>
            <wsdl:fault message="ns:GestoreAccountServRemoteException" name="GestoreAccountServRemoteException" wsaw:Action="urn:inserisciNuovoAccountGestoreAccountServRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <wsdl:input message="ns:AggiungiRuoloGiornalistaRequest" wsaw:Action="urn:AggiungiRuoloGiornalista"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:AggiungiRuoloGiornalistaResponse"/>
            <wsdl:fault message="ns:GestoreAccountServRemoteException" name="GestoreAccountServRemoteException" wsaw:Action="urn:AggiungiRuoloGiornalistaGestoreAccountServRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <wsdl:input message="ns:VisualizzaAccountRegistratiRequest" wsaw:Action="urn:VisualizzaAccountRegistrati"/>
            <wsdl:output message="ns:VisualizzaAccountRegistratiResponse" wsaw:Action="urn:VisualizzaAccountRegistratiResponse"/>
            <wsdl:fault message="ns:GestoreAccountServRemoteException" name="GestoreAccountServRemoteException" wsaw:Action="urn:VisualizzaAccountRegistratiGestoreAccountServRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <wsdl:input message="ns:updateAccountRequest" wsaw:Action="urn:updateAccount"/>
            <wsdl:output message="ns:updateAccountResponse" wsaw:Action="urn:updateAccountResponse"/>
            <wsdl:fault message="ns:GestoreAccountServRemoteException" name="GestoreAccountServRemoteException" wsaw:Action="urn:updateAccountGestoreAccountServRemoteException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GestoreAccountServSoap11Binding" type="ns:GestoreAccountServPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <soap:operation soapAction="urn:RimuoviRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <soap:operation soapAction="urn:ottieniAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <soap:operation soapAction="urn:cancellaAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <soap:operation soapAction="urn:inserisciNuovoAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <soap:operation soapAction="urn:AggiungiRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <soap:operation soapAction="urn:VisualizzaAccountRegistrati" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <soap:operation soapAction="urn:updateAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreAccountServSoap12Binding" type="ns:GestoreAccountServPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <soap12:operation soapAction="urn:RimuoviRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap12:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <soap12:operation soapAction="urn:ottieniAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap12:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <soap12:operation soapAction="urn:cancellaAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap12:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <soap12:operation soapAction="urn:inserisciNuovoAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap12:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <soap12:operation soapAction="urn:AggiungiRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap12:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <soap12:operation soapAction="urn:VisualizzaAccountRegistrati" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap12:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <soap12:operation soapAction="urn:updateAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GestoreAccountServRemoteException">
                <soap12:fault use="literal" name="GestoreAccountServRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreAccountServHttpBinding" type="ns:GestoreAccountServPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <http:operation location="RimuoviRuoloGiornalista"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <http:operation location="ottieniAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <http:operation location="cancellaAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <http:operation location="inserisciNuovoAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <http:operation location="AggiungiRuoloGiornalista"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <http:operation location="VisualizzaAccountRegistrati"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <http:operation location="updateAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GestoreAccountServ">
        <wsdl:port name="GestoreAccountServHttpSoap11Endpoint" binding="ns:GestoreAccountServSoap11Binding">
            <soap:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreAccountServ.GestoreAccountServHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GestoreAccountServHttpSoap12Endpoint" binding="ns:GestoreAccountServSoap12Binding">
            <soap12:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreAccountServ.GestoreAccountServHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GestoreAccountServHttpEndpoint" binding="ns:GestoreAccountServHttpBinding">
            <http:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreAccountServ.GestoreAccountServHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
