Release/Baseline3_03052013/WSDL/GestoreAccountServ.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax21="http://entity.editoriale.reply.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://gestoreLoginService.reply.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gestoreLoginService.reply.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://entity.editoriale.reply.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gestoreLoginService.reply.com">
            <xs:import namespace="http://entity.editoriale.reply.com/xsd"/>
            <xs:element name="updateAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="nomeFunzionalita"  type="xs:string"/>
                        <xs:element  name="userLogin"  type="xs:string"/>
                        <xs:element  name="passwordLogin"  type="xs:string"/>
                        <xs:element  name="user"  type="xs:string"/>
                        <xs:element  name="password"  type="xs:string"/>
                        <xs:element  name="nome"  type="xs:string"/>
                        <xs:element  name="cognome"  type="xs:string"/>
                        <xs:element  name="siglaRedazione"  type="xs:string"/>
                        <xs:element  name="siglaGiornalista"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ottieniAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="username"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ottieniAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="numeroAccountRegistrati">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="numeroAccountRegistratiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNuovoAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="nomeFunzionalita"  type="xs:string"/>
                        <xs:element  name="userLogin"  type="xs:string"/>
                        <xs:element  name="passwordLogin"  type="xs:string"/>
                        <xs:element  name="nome"  type="xs:string"/>
                        <xs:element  name="cognome"  type="xs:string"/>
                        <xs:element  name="username"  type="xs:string"/>
                        <xs:element  name="password"  type="xs:string"/>
                        <xs:element  name="siglaRedazione"  type="xs:string"/>
                        <xs:element  name="siglaGiornalista"  type="xs:string"/>
                        <xs:element  name="ruolo"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNuovoAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return"  type="ax21:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="nomeFunzionalita"  type="xs:string"/>
                        <xs:element  name="userLogin"  type="xs:string"/>
                        <xs:element  name="passwordLogin"  type="xs:string"/>
                        <xs:element  name="username"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="ax21:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VisualizzaAccountRegistrati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="nomeFunzionalita"  type="xs:string"/>
                        <xs:element  name="userLogin"  type="xs:string"/>
                        <xs:element  name="passwordLogin"  type="xs:string"/>
                        <xs:element  name="min" type="xs:int"/>
                        <xs:element  name="max" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VisualizzaAccountRegistratiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RimuoviRuoloGiornalista">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="nomeFunzionalita"  type="xs:string"/>
                        <xs:element  name="userLogin"  type="xs:string"/>
                        <xs:element  name="passwordLogin"  type="xs:string"/>
                        <xs:element  name="username"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AggiungiRuoloGiornalista">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nomeFunzionalita"  type="xs:string"/>
                        <xs:element name="userLogin"  type="xs:string"/>
                        <xs:element  name="passwordLogin"  type="xs:string"/>
                        <xs:element  name="username"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.editoriale.reply.com/xsd">
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element name="cognome"  type="xs:string"/>
                    <xs:element maxOccurs="unbounded"  name="gruppiLavoro"  type="ax21:Gruppo"/>
                    <xs:element  name="nome"  type="xs:string"/>
                    <xs:element  name="password"  type="xs:string"/>
                    <xs:element  name="siglaGiornalista"  type="xs:string"/>
                    <xs:element  name="siglaRedazione"  type="xs:string"/>
                    <xs:element  name="stato"  type="xs:string"/>
                    <xs:element  name="username"  type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded"  name="funzioni"  type="ax21:Funzionalita"/>
                    <xs:element  name="nome"  type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Funzionalita">
                <xs:sequence>
                    <xs:element  name="nome"  type="xs:string"/>
                    <xs:element  name="sigla"  type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RimuoviRuoloGiornalistaRequest">
        <wsdl:part element="ns:RimuoviRuoloGiornalista" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="numeroAccountRegistratiRequest">
        <wsdl:part element="ns:numeroAccountRegistrati" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="numeroAccountRegistratiResponse">
        <wsdl:part element="ns:numeroAccountRegistratiResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ottieniAccountRequest">
        <wsdl:part element="ns:ottieniAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ottieniAccountResponse">
        <wsdl:part element="ns:ottieniAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaAccountRequest">
        <wsdl:part element="ns:cancellaAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaAccountResponse">
        <wsdl:part element="ns:cancellaAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="inserisciNuovoAccountRequest">
        <wsdl:part element="ns:inserisciNuovoAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="inserisciNuovoAccountResponse">
        <wsdl:part element="ns:inserisciNuovoAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="AggiungiRuoloGiornalistaRequest">
        <wsdl:part element="ns:AggiungiRuoloGiornalista" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="VisualizzaAccountRegistratiRequest">
        <wsdl:part element="ns:VisualizzaAccountRegistrati" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="VisualizzaAccountRegistratiResponse">
        <wsdl:part element="ns:VisualizzaAccountRegistratiResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAccountRequest">
        <wsdl:part element="ns:updateAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAccountResponse">
        <wsdl:part element="ns:updateAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="GestoreAccountServPortType">
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <wsdl:input message="ns:RimuoviRuoloGiornalistaRequest" wsaw:Action="urn:RimuoviRuoloGiornalista"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:RimuoviRuoloGiornalistaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="numeroAccountRegistrati">
            <wsdl:input message="ns:numeroAccountRegistratiRequest" wsaw:Action="urn:numeroAccountRegistrati"/>
            <wsdl:output message="ns:numeroAccountRegistratiResponse" wsaw:Action="urn:numeroAccountRegistratiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <wsdl:input message="ns:ottieniAccountRequest" wsaw:Action="urn:ottieniAccount"/>
            <wsdl:output message="ns:ottieniAccountResponse" wsaw:Action="urn:ottieniAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <wsdl:input message="ns:cancellaAccountRequest" wsaw:Action="urn:cancellaAccount"/>
            <wsdl:output message="ns:cancellaAccountResponse" wsaw:Action="urn:cancellaAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <wsdl:input message="ns:inserisciNuovoAccountRequest" wsaw:Action="urn:inserisciNuovoAccount"/>
            <wsdl:output message="ns:inserisciNuovoAccountResponse" wsaw:Action="urn:inserisciNuovoAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <wsdl:input message="ns:AggiungiRuoloGiornalistaRequest" wsaw:Action="urn:AggiungiRuoloGiornalista"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:AggiungiRuoloGiornalistaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <wsdl:input message="ns:VisualizzaAccountRegistratiRequest" wsaw:Action="urn:VisualizzaAccountRegistrati"/>
            <wsdl:output message="ns:VisualizzaAccountRegistratiResponse" wsaw:Action="urn:VisualizzaAccountRegistratiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <wsdl:input message="ns:updateAccountRequest" wsaw:Action="urn:updateAccount"/>
            <wsdl:output message="ns:updateAccountResponse" wsaw:Action="urn:updateAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GestoreAccountServSoap11Binding" type="ns:GestoreAccountServPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <soap:operation soapAction="urn:RimuoviRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroAccountRegistrati">
            <soap:operation soapAction="urn:numeroAccountRegistrati" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <soap:operation soapAction="urn:ottieniAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <soap:operation soapAction="urn:cancellaAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <soap:operation soapAction="urn:inserisciNuovoAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <soap:operation soapAction="urn:AggiungiRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <soap:operation soapAction="urn:VisualizzaAccountRegistrati" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <soap:operation soapAction="urn:updateAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreAccountServSoap12Binding" type="ns:GestoreAccountServPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <soap12:operation soapAction="urn:RimuoviRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroAccountRegistrati">
            <soap12:operation soapAction="urn:numeroAccountRegistrati" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <soap12:operation soapAction="urn:ottieniAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <soap12:operation soapAction="urn:cancellaAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <soap12:operation soapAction="urn:inserisciNuovoAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <soap12:operation soapAction="urn:AggiungiRuoloGiornalista" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <soap12:operation soapAction="urn:VisualizzaAccountRegistrati" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <soap12:operation soapAction="urn:updateAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreAccountServHttpBinding" type="ns:GestoreAccountServPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="RimuoviRuoloGiornalista">
            <http:operation location="RimuoviRuoloGiornalista"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroAccountRegistrati">
            <http:operation location="numeroAccountRegistrati"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ottieniAccount">
            <http:operation location="ottieniAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <http:operation location="cancellaAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNuovoAccount">
            <http:operation location="inserisciNuovoAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AggiungiRuoloGiornalista">
            <http:operation location="AggiungiRuoloGiornalista"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="VisualizzaAccountRegistrati">
            <http:operation location="VisualizzaAccountRegistrati"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <http:operation location="updateAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GestoreAccountServ">
        <wsdl:port binding="ns:GestoreAccountServSoap11Binding" name="GestoreAccountServHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreAccountServ.GestoreAccountServHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:GestoreAccountServSoap12Binding" name="GestoreAccountServHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreAccountServ.GestoreAccountServHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:GestoreAccountServHttpBinding" name="GestoreAccountServHttpEndpoint">
            <http:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreAccountServ.GestoreAccountServHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
