Release/Baseline4_06052013/WSDL/GestoreLogin.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax23="http://entity.editoriale.reply.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://gestoreLoginService.reply.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gestoreLoginService.reply.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax24="http://entity.editoriale.reply.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gestoreLoginService.reply.com">
            <xs:import namespace="http://entity.editoriale.reply.com/xsd"/>
            <xs:element name="authentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="username"  type="xs:string"/>
                        <xs:element  name="password"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.editoriale.reply.com/xsd">
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element  name="cognome"  type="xs:string"/>
                    <xs:element maxOccurs="unbounded"  name="gruppiLavoro"  type="ax23:Gruppo"/>
                    <xs:element  name="nome"  type="xs:string"/>
                    <xs:element  name="password"  type="xs:string"/>
                    <xs:element  name="siglaGiornalista"  type="xs:string"/>
                    <xs:element  name="siglaRedazione"  type="xs:string"/>
                    <xs:element  name="stato"  type="xs:string"/>
                    <xs:element  name="username"  type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded"  name="funzioni"  type="ax23:Funzionalita"/>
                    <xs:element  name="nome"  type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Funzionalita">
                <xs:sequence>
                    <xs:element  name="nome"  type="xs:string"/>
                    <xs:element  name="sigla"  type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authenticationRequest">
        <wsdl:part element="ns:authentication" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="authenticationResponse">
        <wsdl:part element="ns:authenticationResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="GestoreLoginPortType">
        <wsdl:operation name="authentication">
            <wsdl:input message="ns:authenticationRequest" wsaw:Action="urn:authentication"/>
            <wsdl:output message="ns:authenticationResponse" wsaw:Action="urn:authenticationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GestoreLoginSoap11Binding" type="ns:GestoreLoginPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="authentication">
            <soap:operation soapAction="urn:authentication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreLoginSoap12Binding" type="ns:GestoreLoginPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="authentication">
            <soap12:operation soapAction="urn:authentication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestoreLoginHttpBinding" type="ns:GestoreLoginPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="authentication">
            <http:operation location="authentication"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GestoreLogin">
        <wsdl:port binding="ns:GestoreLoginSoap11Binding" name="GestoreLoginHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreLogin.GestoreLoginHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:GestoreLoginSoap12Binding" name="GestoreLoginHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreLogin.GestoreLoginHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:GestoreLoginHttpBinding" name="GestoreLoginHttpEndpoint">
            <http:address location="http://localhost:8080/WebSBLGestLogin/services/GestoreLogin.GestoreLoginHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
